<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Edit ' + ${ingredient.name}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.min.css}">
</head>
<body class="bg-light">
    <div class="container py-4" th:object="${ingredient}">
        <header th:replace="fragments/fragments-1 :: header('Add New Ingredient')"></header>
        
        <div class="card shadow-sm">
            <div class="card-body">
                <form th:action="@{'/ingredients/edit/' + ${ingredient.id}}" th:object="${ingredient}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter ingredient name"  maxlength="30" th:errorclass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                            <ul class="ps-3">
                                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="allergens" class="form-label">Allergens</label>
                        <input type="text" class="form-control" id="allergens" th:field="*{allergens}" placeholder="Enter ingredient allergens" th:errorclass="is-invalid">
                        <div th:if="${#fields.hasErrors('allergens')}" class="invalid-feedback">
                            <ul class="ps-3">
                                <li th:each="error : ${#fields.errors('allergens')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-primary">Edit Ingredient</button>
                        <a th:href="@{/ingredients}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>