<!-- Header Fragment -->

<header th:fragment="header(text)" class="pb-3 mb-4 border-bottom d-flex justify-content-between align-items-center">
    <h1 class="display-4 text-primary" th:text="${text}">Pizzeria Bella Napoli</h1>
    <div class="d-flex gap-3">
        <form class="d-flex" role="search" method="GET" th:action="@{/pizzas/search}">
            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="form-control ms-2" type="search" name="name" placeholder="Search" aria-label="Search">
        </form>
        <a class="btn btn-outline-danger" th:href="@{'/logout'}"><i class="fa-solid fa-power-off"></i></a>
    </div>
</header>

<!-- /Header Fragment -->


<!-- Card Fragment -->

<div th:fragment="card(pizza)" class="col">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
            <h5 class="card-title" th:text="${pizza.name}">Pizza Name</h5>
            <p class="card-text" th:text="${pizza.description}">Description</p>
            <p class="card-text">
                <small class="text-muted" th:text="'€' + ${#numbers.formatDecimal(pizza.price, 1, 2)}">Price</small>
            </p>
        </div>
        <div class="card-footer bg-transparent border-top-0 pb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group gap-1">
                    <div>
                        <a th:href="@{'/pizzas/' + ${pizza.id}}" class="btn btn-sm btn-outline-primary">View Details</a>
                    </div>
                    <div sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{'/pizzas/edit/' + ${pizza.id}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </div>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#delete-' + ${pizza.id}">
                        Delete
                    </button>
                </div>

                <div class="modal fade" th:id="'delete-' + ${pizza.id}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="'Pizza ' + ${pizza.name}">
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body"
                                th:text="'Are you sure you want to delete Pizza ' + ${pizza.name} + '?'"></div>
                            <div class="modal-footer">
                                <form th:action="@{'/pizzas/delete/' + ${pizza.id}}" method="POST">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Card Fragment -->


<!-- Alert Fragment -->

<th:block th:fragment="alert(message, messageClass)" th:if="${message != null && messageClass != null}">
    <div class="alert alert-dismissible fade show" role="alert" th:classappend="${messageClass}">
        <p class="mb-0" th:text="${message}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</th:block>

<!-- /Alert Fragment -->


<!-- Offer Badge Fragment -->

<a th:fragment="offerBadge(offer)" th:href="@{|/offers/edit/${offer.id}|}"
    class="badge text-bg-success link-underline link-underline-opacity-0" th:text="${offer.name} ">Offer Name</a>

<!-- /Offer Badge Fragment -->


<!-- Allergen Badge Fragment -->

<span th:fragment="allergenBadge(allergen)" 
    class="badge text-bg-warning" th:text="${allergen}">Allergen</span>

<!-- /Allergen Badge Fragment -->


<!-- Table Fragment -->

<th:block th:fragment="table(ingredients)">
    <table class="table table-bordered table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Allergens</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ingredient : ${ingredients}">
                <td th:text="${ingredient.name}"></td>
                <td th:text="${ingredient.allergens}"></td>
                <td class="text-end">
                    <a th:href="@{'/ingredients/show/' + ${ingredient.id}}" type="button"
                        class="btn btn-sm btn-outline-primary rounded-1 border-1"><i class="fa-solid fa-eye"></i></a>
                    <a th:href="@{'/ingredients/edit/' + ${ingredient.id}}" type="button"
                        class="btn btn-sm btn-outline-secondary rounded-1 border-1" sec:authorize="hasAuthority('ADMIN')"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#delete-' + ${ingredient.id}" sec:authorize="hasAuthority('ADMIN')">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <div class="modal fade" th:id="'delete-' + ${ingredient.id}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"
                                        th:text="'Ingredient ' + ${ingredient.name}"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-start"
                                    th:text="'Are you sure you want to delete Ingredient ' + ${ingredient.name} + '?'"></div>
                                <div class="modal-footer">
                                    <form th:action="@{'/ingredients/delete/' + ${ingredient.id}}" method="POST">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>

<!-- /Table Fragment -->